body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol{
    padding-left: 0;
    list-style-type: none;
    
}
img {
    display: block;
}
.container {
    margin: 0 auto;
    max-width: 1158px;
    padding: 0 15px 0 15px;
    
}
.header-content {
    border-bottom: 1px solid #E7E9FC;
    background: #ffffff;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-head {
    display: flex;
    align-items: center;
    background-color: #FFF;
}
.nav-size {
    display: flex;
    align-items: center;
    text-decoration: none;
   
}
.logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}
.logo-studio {
   color: #2e2f42
}
.navigation-list {
    display: inline-flex;
    align-items: center;
    gap: 40px;
    margin: 0;
}
.navigation {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation:hover,
.navigation:focus {
color: #404bbf;
}
.current {
    color: #404BBF;
}
.current::after {
    content: "";
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background: #404BBF;
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
}
.address-style {
   font-style: normal;
   line-height: 1.5;
   letter-spacing: 0.02em;
   font-weight: 400;
   font-size: 16px;
    display: inline-flex;
    align-items: center;
    gap: 40px;
    margin-left: auto;
}
.address {
    display: flex;
    gap: 40px;
    padding-left: 0;
    margin: 0;
   
    
}
.navigation-address {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.navigation-address:hover,
.navigation-address:focus {
color: #404bbf;
}

.hero-image {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}
.hero-image {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office1.jpg);
    background-color: #2E2F42B2;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    margin: 0 auto;
    
}
.main-text {
    color: #ffffff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 auto;
    max-width: 496px;
    margin-bottom: 48px;
}
.button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
    min-width: 169px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    display: block;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


}
.button:hover,
.button:focus {
    background-color: #404BBF
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.list {
    display: flex;
    gap: 24px;
    margin: 0 auto;
    
}
.section-two {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    width: calc((100% - 72px) / 4);

}
.section-two-list {
    width: calc((100% - 72px) / 4);
}
.section-two-icon {
    display: flex;
    width: 264px;
    height: 112px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8E8F99;
    padding: 24px 100px;
    background-color: #F4F4FD;
}
.section-two-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.section-three-fon{
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-list {
    display: flex;
    gap: 24px;
}
.section-three-main {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    background-color: #f4f4fd;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.social-list {
    display: flex;
    gap: 24px;
    margin-top: 8px;
    align-items: center;
    justify-content: center;
}
.social-link:hover, .social-link:focus {
    background-color: #404bbf;
}
.social-link {
    border-radius: 50%;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section-three {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    background-color: #ffffff;
    text-align: center;
    margin-top: 32px;
    padding-bottom: 8px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-img {
    border-radius: 0px 0px 4px 4px;
    padding: 32px 0;
}
.team-icons {
    fill: #f4f4fd;
}
.section-three-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-top: 32px;
    margin-bottom: 8px;
}
.section-three-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff;
    margin-bottom: 32px;
}
.section-four-fon {
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-four {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-list {
    background: #FFF;
    width: calc((100% - 24px * 2) / 3);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list:hover .overlay-text {
    transform: translateY(0%);
}
.portfolio-img {
    position: relative;
    overflow: hidden;
}
.overlay-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: justify;
    padding: 40px 32px;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}
.section-four-main {
    color: #2e2f42;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.section-four-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}
.footer {
        background-color: #2e2f42;
        padding: 100px 0;
    }
.container-bottom {
    display: flex;
    align-items: baseline;
}

.footer-text {
    color: #f4f4fd;
    background-color: #2e2f42;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;

}
.bottom-logotype {
    margin-right: 120px;
}

.bottom-social-list {
    display: flex;
    gap: 16px;
}
.social-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}
.bottom-text {
    color: #FFF;
    font-weight: 500;
    margin-bottom: 16px;
}

.bottom-social-link {
    border-radius: 50%;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.bottom-social-link:hover, .bottom-social-link:focus {
    background-color: #31d0aa
}
.bottom-social-icon {
    fill: #F4F4FD;
}

    

.link {
    text-decoration: none;
}
.logo-foot {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}
.logo-studio-foot {
    color: #F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.subscribe {
    margin-left: 80px;
}
.subscribe-text {
color: var(--WHITE, #FFF);
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;
}
.subscribe-form {
    display: flex;
    gap: 24px;
}

.subscribe-input {
    color: var(--WHITE, #FFF);
    border-radius: 4px;
    border: 1px solid var(--WHITE, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 264px;
    height: 40px;
    background-color: transparent; 
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    
}
.subscribe-btn {
display: inline-flex;
padding: 8px 24px;
justify-content: center;
align-items: center;
gap: 16px;
border: none;
cursor: pointer;
border-radius: 4px;
background: var(--IRIS, #4D5AE5);
color: var(--WHITE, #FFF);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
min-width: 165px;
height: 40px;
}
.subscribe-icon {
margin-left: 16px;
}

/* Backdrop modal window */
.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* Modal window */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
    border-radius: 4px;
    background-color:  #FCFCFC;  
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);;
}
.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    line-height: 0;
    background-color: var(--CORNFLOWER, #E7E9FC);
    border: 1px solid rgba(0, 0, 0, 0.10);;
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: rgba(46, 47, 66, 1);
    cursor: pointer;
}
.close-btn:focus,
.close-btn:hover {
 background-color: #404bbf;
 fill: #ffffff ;
 border: none;
}
.close-btn-icon {
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn-icon:focus,
.close-btn-icon:hover 
{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #ffffff;
}


.text-modal {
width: 360px;
color: #2E2F42;
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;
}
.review-form-label {
display: block;
color: #8E8F99;
font-size: 12px;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.04em;
margin-bottom: 4px;
}

.review-form-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.review-form-wrapper {
    margin-bottom: 8px;
}
.div-wrapper {
    margin-bottom: 16px;
}
.review-form-input-wrapper {
    position: relative;
    
}
.review-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input:focus {
    outline: transparent;
    border-color: rgba(77, 90, 229, 1);
}
.review-form-input:focus + .review-form-icon {
    fill: rgba(77, 90, 229, 1);
}
.review-form-comment-text {
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    padding: 8px 16px 8px 16px; 
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    outline: transparent;
}
.review-form-comment-text:focus {
    border-color: rgba(77, 90, 229, 1);
    outline: transparent;
}
.review-form-comment-text::placeholder {
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));

}
.review-form-checkbox {
    margin-bottom: 24px;
}
.review-form-own-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    cursor: pointer;
    fill: transparent;
    border: 1px solid rgba(46, 47, 66, 0.40);
    margin-right: 8px;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-checkbox-label {
color: var(--LIGHT-SLATE, #8E8F99);
font-size: 12px;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.04em;
}
.review-checkbox:checked 
+ .review-checkbox-label 
> .review-form-own-checkbox {
background-color: var(--OCEAN, #404BBF);
fill:  #F4F4FD;
border: none;

}
.review-checkbox:focus
+ .review-checkbox-label 
> .review-form-own-checkbox {
    outline: 2px solid rgba(0, 0, 255, 0.5);
}
.review-form-privacy-link {
    color: var(--IRIS, #4D5AE5);
    line-height: 1.33;
    text-decoration-line: underline;
}
.review-form-submit {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
    min-width: 169px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    display: block;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}